<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="text to vote">
  <meta name="author" content="Andrew Algard">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/main2.css')}}"/>
      <link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/table.css')}}"/>

  <title>Text To Vote</title>
</head>

<body>
  {% block body %} {% endblock %}
</body>
</html>