{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1>
        Submissions
    </h1>
    <div class="index_buttons">
         <button onclick="window.location.href='/submissions/new'" id="new_submission" class="button-option">
            New Submission
        </button>
        <button onclick="window.location.href='/numbers/clear'" id="clear_numbers" class="button-option">
            Clear Numbers
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th class="sm">Votes</th>
                <th class="md">Abrev</th>
                <th class="lg">Name</th>
                <th class="lg">Desc</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
        {% for sub in submissions%}
            <tr>
                <td> {{ sub.votes }}</td>
                <td> {{ sub.abrev }} </td>
                <td>{{ sub.name }}</td>
                <td> {{ sub.description }}</td>
                <td><a class="edit" href="/submissions/{{ sub.id }}">update</a> </td>
                <td>
                    <form action="/submissions/{{sub.id}}" method="POST" onsubmit="return confirm('are you sure you want to delete?')">
                        <input id="delete" type="submit" value="delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}